section#header
  h1
    a(href="/") bwilike.me
  if user
    nav hello, @#{user.twitter.username}. <a href="/status">check your status</a>. not #{user.twitter.username}? <a href="/signout">signout</a>
