extends layout.jade

block content
  if !user
    section
      h1 Twitterでサインイン
      p(style="text-align:center;") <a class="button" href="/auth/twitter">Twitterでサインイン</a>
  section
    h1 bwilike.meってなに？
    p <a href="/">bwilike.me</a>はあなたの<a href="https://twitter.com/">Twitter</a>プロフィールに<a href="https://github.com/">GitHub</a>のアクティビティに基づいた「like:」を追加します。
    p 最近書いた本当に好きなプログラミング言語をTwitterプロフィールに自動設定できます。
    p(style="text-align:center") <img alt="like: #javascript #css #ruby #shell" width="478" height="203" src="http://img.bwilike.me/example.png" />
  section
    h1 使いかた
    p bwilike.meは3ステップで使えます。
    ol
      li bwilike.meにTwitterでサインインします。
      li GitHubアカウントを設定します。
      li 朝まで待つと「like:」が追加されます。([:-D
