doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title bwilike.me
  body
    include includes/header.jade
    section#body
      block content
    include includes/footer.jade
    include includes/ga.jade
